.header__burger-button {
    width: 24px;
    height: 21px;

    position: relative;

    border: none;
    background: none;
}

.header__burger-button:before {
    content: '';
    width: 24px;
    height: 3px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--color-white);
    box-shadow: 0 9px 0 0 var(--color-white);
}

.header__burger-button:after {
    content: '';
    width: 24px;
    height: 3px;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--color-white);
}


.header__burger-button:hover {
    cursor: pointer;
}